<div class="col-12 mt-2">
    <button pButton type="button" (click)="location.back();" class="btn btn-outline-secondary btn-sm"><i
        class="material-icons">
        keyboard_backspace
    </i></button>
</div>
<div class="container">
    <h1>Equipos en total: {{totalTeams}}</h1>
    <h4>Lista de Equipos:</h4>
    <hr>
    <div class="loading-mask" *ngIf="loading"> </div>
    <div class="row uk-grid" [@listAnimation]="teams.length">
        <app-team *ngFor="let team of teams" [team]="team" class="col-4 uk-row-first mt5"></app-team>
    </div>
</div>