<mat-card class="character-card" [routerLink]="['/teams', league.league_id,  league.season]">
    <mat-card-header>
      <mat-card-title class="card-title" [matTooltip]="league.name" matTooltipPosition="above">
          {{ (league.name | slice:0:13) + (league.name.length > 13 ? '...' : '') }}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="league.logo" alt="" style="height: 150px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <h3 matLine class="card-content-title">País:</h3>
                <p class="card-content-description">{{ league.country }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3 matLine>Temporada:</h3>
                <p class="card-content-description">{{ league.season }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3 matLine>Formato:</h3>
                <p class="card-content-description">{{ league.type}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3 matLine>Finalizada:</h3>
                <p class="card-content-description">{{ (league.is_current === 0 ? 'Si' : 'No')}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="character-list-item">
                <h3 matLine>Inicio:</h3>
                <p class="card-content-description" [matTooltip]="league.season_start" matTooltipPosition="left">{{ (league.season_start | slice: 0:5) + (league.season_start.length > 5 ? '...' : '')}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="character-list-item">
                <h3 matLine>Final:</h3>
                <p class="card-content-description" [matTooltip]="league.season_start" matTooltipPosition="left">{{ (league.season_start | slice: 0:5) + (league.season_start.length > 5 ? '...' : '')}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>