.container {
  position: relative;
  width: 90%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: auto;
  height: 0;
  transition: 0.5s ease;
}
.container:hover .overlay {
  height: 100px;
}

.md-card {
  outline: none;
  background-color: rgba(131, 131, 131, 0.192);
}
.tcolor{
  color: white;
}