<!--Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Football API</h6>                
                <p class="text-justify">Football Api permite obtener de manera rapida los datos sobre las ligas, equipos y jugadores de Fútbol desde el año 2010 y 2020.</p>
                <p class="text-justify">Este sitio muestra bajo las buenas praticas y uso optimo de Angular 8 el consumo de algunos endpoint de API-FOOTBALL.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Sites</h6>
                <ul class="footer-links">
                    <li><a href="https://www.api-football.com/">API-FOOTBALL</a></li>
                    <li><a href="https://www.api-football.com/documentation#documentation-v239-api-architecture">Documentación API-FOOTBALL v2.3.9</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Other sites</h6>
                <ul class="footer-links">
                    <li><a href="https://github.com/andresmu/FootballApi">Angular Repository Development</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; {{year}} Develop by Andrés Murillo for Escalab Academy Course.</p>
            </div>
        </div>
    </div>
</footer>