<div class="container fondo">
    <h1>¡Lista de Países!</h1>
    <h4>Elige un país:</h4>
    <div class="loading-mask" *ngIf="loading"></div>
    <div class="col-12">
        <select class="pull-right" [(ngModel)]="viewCount" (ngModelChange)="changeViewMovie();">
          <option value="20">25</option>
          <option value="60">60</option>
          <option value="100">100</option>
          <option value="{{totalCountries}}">Todos: {{totalCountries}}</option>
        </select>
      </div>
    <hr>
    <div class="country-grid"> 
        <app-country *ngFor="let country of countries" [country]="country"></app-country>
    </div>
</div>